.navbar {
    background-color: black!important;
}
img.logo {
    height: 55px;
    width:75px;
}
a.nav-link.home {
    color: white!important;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-left: 200px!important;
    padding-right: 50px!important;
}
a.nav-link {
    color: white!important;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-left: 50px!important;
    padding-right: 50px!important;
}
a.nav-link:hover {
    text-decoration: underline;
}
.btn {
    background-color: red;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 100px;
}
.header {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 100px;
    color: white;
    background-color: black;
    padding-left: 25px;
}
.cardcontainer {
    background-color:black;
}
.card1 {
    border: 8px solid #035AA6;
    border-radius: 10px;
    height: 650px;
    background-color:white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.card2 {
    border: 8px solid #A60F71;
    border-radius: 10px;
    height: 650px;
    background-color:white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.card3 {
    border: 8px solid #D9B504;
    border-radius: 10px;
    height: 650px;
    background-color:white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
h5 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 36px;
}
.cardcontainer {
    padding-top: 100px;
    padding-bottom: 300px;
    align-content: center;
}
.card-image {
    text-align: center;
}
.footer {
    background-color: #707070;
    padding-top: 25px;
    padding-bottom: 25px;
}

a.link-1 {
    color:white;
    font-family: 'Work Sans', sans-serif;
}
a.link-2 {
    color:white;
    font-family: 'Work Sans', sans-serif;
}
a.link-3 {
    color:white;
    font-family: 'Work Sans', sans-serif;
}
a.link-4 {
    color:white;
    font-family: 'Work Sans', sans-serif;
}
img.socials {
    height: 100px;
    width: 100px;
}